{% extends "model-page.html" %}

{% block content %}
    <h3>Agendamentos</h3>
    <a href="evento/">
    <button type="button">Novo Evento</button>
    </a>

    <ul style="font-size: 18px">
    {% for evento in eventos %}
    <li>
        <!-- as cores variam caso o evento esteja próximo de acontecer ou já esteja no passado -->

        <div style={% if evento.get_evento_atrasado %}
                        "color:red"
                    {% endif %}>
        <div style={% if evento.get_evento_proximo %}
                        "color:yellow"
                    {% endif %}>
            {{ evento.titulo }} - {{ evento.get_data_evento }}
                ( <a href="evento/?id={{ evento.id }}">Editar</a>
                / <a href="evento/delete/{{ evento.id }}">Excluir</a> )
        </div>
        </div>
    </li>

    {% endfor %}
    </ul>
    <br>
    <br>
    <a href="historico/">
    <button type="button">Histórico</button>
    </a>
{% endblock %}